img .layout-container {
    width: 45px;
     margin: 0 15px;
     border-radius: 30px; 
 }
 
 .container-left {
     height: 565px;
     max-width: 1000px;
     width: 100%;
     background: #282828;
     margin: 0 auto;
     padding: 10px 20px;
     border-radius: 20px;
     flex: 1;
     box-shadow: 2px 2px 20px 2px rgba(228, 3, 244, 1);
 }
 
 .container-inside {
   display: flex;
   align-items: flex-start;
   max-height: 400px;
   max-width: 900px;
   width: 100%;
   background: #282828;
   margin: 0 15px;
   padding: 20px;
   border-radius: 7px;
   position: relative;
   overflow: hidden;
 }
 
 .container-inside img {
   width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
   height: 200px;
   border-radius: 50% 50%;
   object-fit: cover;
   margin-right: 20px;
   margin-top: 20px;
 }
 
 .info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #f0f0f0;
 }
 
 .info h2 {
   font-size: 24px;
   margin-bottom: 10px;
   color: #cccccc;
 }
 
 .info p {
   font-size: 18px;
   margin-bottom: 5px;
   color: #cccccc;
   line-height: 1.2; /* Diminuindo o espaçamento entre as linhas */
 }
 
 .info p strong {
   color: #ffffff;
   font-size: 18px;
 }
 
 .info p:last-child {
   margin-top: 10px; /* Ajustado o espaçamento superior */
   color: #bbbbbb;
 }